<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Start Page</title>

<!-- Ajax -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>


<link rel="stylesheet" href="../style/stylesheet.css">
<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../style/bootstrap.css">
<link rel="stylesheet" href="../style/datatables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.min.css">

<script src="../js/contract.js"></script>
</head>
<body>
<div class="centred ">
		<nav class="nav">
			<a id="text-nav" href="/administratorStartPage">HOME</a> 
			<a id="text-nav" href="/administratorStartPage">START PAGE</a> 
			<a id="text-nav" href="/adminiAccountPage">MY ACOUNT</a> 
			<a id="text-nav" href="/newTicketPage">NEW TICKET</a>
			<a id="text-nav" href="/employeesPage">EMPLOYEES</a>
			<a id="text-nav" href="">CONTRACTS</a>
			<a id="text-nav" href="">INVOICE</a>

		</nav>
	</div>
	<div class="divpaddin">
		<h2>Employee Contracts</h2>
		<button id="createNewEmployeeContract" onclick="modalEmployeeContract()">Create New Employee Contract</button>
		<br> 
		<table id="employeeContractTable" class="table " class="row-border">
			<thead>
				<tr>
					<th>Id</th>
					<th>Status</th>
					<th>Salary</th>
					<th>Curency</th>
					<th>Start Date</th>
					<th>Expiration Date</th>
					
				</tr>
			</thead>
		</table>
		
		<h2>Client Contracts</h2>
		<button id="createNewClientContract" onclick="">Create New Client Contract</button>
		<br> 
		<table id="clientContractTable" class="table " class="row-border">
			<thead>
				<tr>
					<th>Id</th>
					<th>Status</th>
					<th>Amount</th>
					<th>Curency</th>
					<th>Start Date</th>
					<th>Expiration Date</th>
				</tr>
			</thead>
		</table>


	</div>
<!-- create new employee Contract modal -->		
	<div class="modal fade modalTD" id="myModalEmployeeContract" role="dialog">
   	 <div class="modal-dialog modal-lg">
   		 <!-- Modal content-->
    	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">New Employee Contract</h4>
	        </div>
	        <div class="modal-body">
	          <div >
	         	  <br>
		          <div class="modalcontent " >
		             <div id="d1" class="InLineDiv-StAdmPg ">
		    			<p>Salary</p>
		    			<input type="text" id="salary" class="input" name="salary" placeholder="Salary.."  autocomplete="off" required/>
		
		 				<p>Status</p>
		    			<select id="statusList" name="status"  required></select>
					 </div>
					 <div id="d2" class="InLineDiv-StAdmPg ">
					 	<p>Signature Date</p>
		    			<input type="date" id="signdate" class="input" name="signdate" autocomplete="off" required/>
						<br>	
						<br>
		    			<p>Start Date</p>
		    			<input type="date" id="startdate" class="input" name="startdate" autocomplete="off" required/>
		    			<br>
		    			<br>
		    			<p>Expiration Date</p>
		    			<input type="date" id="expdate" class="input" name="expdate" autocomplete="off" required/>
		    
		     			
		    		</div>
		
		        </div>
		        <div class="modal-footer">
		        
		          <button id="savebutton" type="button" class="btn btn-default">Save</button>
		     
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
	      </div>
	      
	    </div>
	  </div>
  </div>
 </div>
<!-- create new employee Contract modal -->		
</body>
</html>