<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Start Page</title>

<!-- Ajax -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>


<link rel="stylesheet" href="../style/stylesheet.css">
<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../style/bootstrap.css">
<link rel="stylesheet" href="../style/datatables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.min.css">

<script src="../js/contract.js"></script>
</head>
<body>
<div class="centred ">
		<nav class="nav">
			<a id="text-nav" href="/administratorStartPage">HOME</a> 
			<a id="text-nav" href="/administratorStartPage">START PAGE</a> 
			<a id="text-nav" href="/adminiAccountPage">MY ACOUNT</a> 
			<a id="text-nav" href="/newTicketPage">NEW TICKET</a>
			<a id="text-nav" href="/accountsPage">ACCOUNTS</a>
			<a id="text-nav" href="">CONTRACTS</a>
			<a id="text-nav" href="">INVOICE</a>

		</nav>
	</div>
	<div class="divpaddin">
		<h2>Employee Contracts</h2>
		<button id="createNewEmployeeContract" onclick="modalEmployeeContract()">Create New Employee Contract</button>
		<br> 
		<table id="employeeContractTable" class="table " class="row-border">
			<thead>
				<tr>
					<th>Id</th>
					<th>Status</th>
					<th>Salary</th>
					<th>Curency</th>
					<th>Start Date</th>
					<th>Expiration Date</th>
					<th></th>
					
				</tr>
			</thead>
		</table>
		
		<h2>Client Contracts</h2>
		<button id="createNewClientContract" onclick="modalClientContract()">Create New Client Contract</button>
		<br> 
		<table id="clientContractTable" class="table " class="row-border">
			<thead>
				<tr>
					<th>Id</th>
					<th>Status</th>
					<th>Amount</th>
					<th>Curency</th>
					<th>Start Date</th>
					<th>Expiration Date</th>
					<th></th>
				</tr>
			</thead>
		</table>


	</div>
<!-- ==========create new employee Contract modal ====================-->		
	<div class="modal fade modalTD" id="myModalEmployeeContract" role="dialog">
   	 <div class="modal-dialog modal-lg">
   		 <!-- Modal content-->
    	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">New Employee Contract</h4>
	        </div>
	        <div class="modal-body">
	          <div >
	         	  <br>
		          <div class="modalcontent " >
		             <div id="d1" class="InLineDiv-StAdmPg ">
		    			<h4>Salary</h4>
		    			<input type="number" id="salary" class="input" name="salary" placeholder="Salary.."  autocomplete="off" required/>
		
		 				<h4>Status</h4>
		    			<select id="statusList" name="status"  required></select>
		    			<br>
		    			<br>
					 </div>
					 <div id="d2" class="InLineDiv-StAdmPg ">
					 	<h4>Signature Date</h4>
		    			<input type="date" id="signdate" class="input" name="signdate" autocomplete="off" required/>
						<br>	
						<br>
		    			<h4>Start Date</h4>
		    			<input type="date" id="startdate" class="input" name="startdate" autocomplete="off" required/>
		    			<br>
		    			<br>
		    			<h4>Expiration Date</h4>
		    			<input type="date" id="expdate" class="input" name="expdate" autocomplete="off" required/>
		    
		     			
		    		</div>
		
		        </div>
		        <div class="modal-footer">
		        
		          <button id="savebutton" type="button" class="btn btn-default">Save</button>
		     
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
	      </div>
	      
	    </div>
	  </div>
  </div>
 </div>
<!-- ===========create new client Contract modal============== -->	
	<div class="modal fade modalTD" id="myModalClientContract" role="dialog">
   	 <div class="modal-dialog modal-lg">
   		 <!-- Modal content-->
    	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">New Client Contract</h4>
	        </div>
	        <div class="modal-body">
	          <div >
	         	  <br>
		          <div class="modalcontent " >
		             <div id="d1" class="InLineDiv-StAdmPg ">
		             	<h4>Client</h4>
		             	<select id="clientsList" name="clients"  required></select>
		             	<br>
		             	<br>
		             	<h4>Amount</h4>
		    			<input type="number" id="amount" class="input" name="amount" placeholder="Amount.."  autocomplete="off" required/>
		
		 				<h4>Status</h4>
		    			<select id="statusList1" name="status"  required></select>
		    			<br>
		    			<br>
					 </div>
					 <div id="d2" class="InLineDiv-StAdmPg ">
					 	<h4>Signature Date</h4>
		    			<input type="date" id="signdate1" class="input" name="signdate" autocomplete="off" required/>
						<br>	
						<br>
		    			<h4>Start Date</h4>
		    			<input type="date" id="startdate1" class="input" name="startdate" autocomplete="off" required/>
		    			<br>
		    			<br>
		    			<h4>Expiration Date</h4>
		    			<input type="date" id="expdate1" class="input" name="expdate" autocomplete="off" required/>
		    
		     			
		    		</div>
		
		        </div>
		        <div class="modal-footer">
		        
		          <button id="savebutton" type="button" class="btn btn-default">Save</button>
		     
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
	      </div>
	      
	    </div>
	  </div>
  </div>
 </div>	
 
 <!--========= EDIT employee Contract modal =============-->		
	<div class="modal fade modalTD" id="EditModalEmployeeContract" role="dialog">
   	 <div class="modal-dialog modal-normal">
   		 <!-- Modal content-->
    	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Edit Employee Contract</h4>
	        </div>
	        <div class="modal-body">
	          <div >
	         	  <br>
		          <div class="modalcontent " >
		             <h4>Id</h4>
		             <p id="idE"></p>
		             
		             <h4>Status</h4>
		             <p id="statusE"></p>
		             <select id="StatusList" style="width:50%;" onchange="statusChange();"></select>
		             
		             <div id="SLRY" onchange="SalaryChange()">
		             	<h4>Salary</h4>
		             	<p id="salaryE"></p>
		             	<input style="width:50%;" type="number" id="salaryEdit" class="input " name="expdate"  autocomplete="off"/>
		             </div>
		             
		             <h4>Curency</h4>
		             <p id="curencyE"></p>	             
		             
		             <h4>Signature Date</h4>
		             <p id="signdateE"></p> 
		             
		             <h4>Start Date</h4>
		             <p id="startdateE"></p>  
		             
		             <div id="EXPD" onchange="expDateChange()">
		            	 <h4>Expiration Date</h4>
		             	 <p id="expdateE"></p>  
		             	 <input style="width:50%;" type="date" id="expDateEdit" class="input" name="expdate" autocomplete="off"/> 
		             </div>
		             
		
		          </div>
		        <div class="modal-footer">
		        
		          <button id="savebutton" type="button" class="btn btn-default">Save</button>
		     
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
	      </div>
	      
	    </div>
	  </div>
  </div>
 </div>
 
  <!--========= EDIT client Contract modal =============-->		
	<div class="modal fade modalTD" id="EditModalClientContract" role="dialog">
   	 <div class="modal-dialog modal-normal">
   		 <!-- Modal content-->
    	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Edit Employee Contract</h4>
	        </div>
	        <div class="modal-body">
	          <div >
	         	  <br>
		          <div class="modalcontent " >
		             <h4>Id</h4>
		             <p id="idEC"></p>
		             
		             <h4>Status</h4>
		             <p id="statusEC"></p>
		             <select id="StatusListC" style="width:50%;" onchange="statusChange1();"></select>
		             
		             <div id="SLRY1" onchange="SalaryChange1()">
		             	<h4>Amount</h4>
		             	<p id="amountEC"></p>
		             	<input style="width:50%;" type="number" id="amountEdit" class="input " name="expdate"  autocomplete="off"/>
		             </div>
		             
		             <h4>Curency</h4>
		             <p id="curencyEC"></p>	             
		             
		             <h4>Signature Date</h4>
		             <p id="signdateEC"></p> 
		             
		             <h4>Start Date</h4>
		             <p id="startdateEC"></p>  
		             
		             <div id="EXPD1" onchange="expDateChange1()">
		            	 <h4>Expiration Date</h4>
		             	 <p id="expdateEC"></p>  
		             	 <input style="width:50%;" type="date" id="expDateEditC" class="input" name="expdate" autocomplete="off"/> 
		             </div>
		             
		
		          </div>
		        <div class="modal-footer">
		        
		          <button id="savebutton" type="button" class="btn btn-default">Save</button>
		     
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
	      </div>
	      
	    </div>
	  </div>
  </div>
 </div>
</body>
</html>