<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Start Page</title>

<script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/notify/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="../js/notify/bootstrap-notify.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../js/jquery/bootstrap.js"></script>
<script type="text/javascript" src="../js/jquery/bootstrap.min.js"></script>

<link rel="stylesheet" href="../style/stylesheet.css">
<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

<link rel="stylesheet" href="../style/bootstrap.css">
<link rel="stylesheet" href="../style/datatables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.min.css">

<script src="../js/contract.js"></script>
<script src="../js/nav.js"></script>
</head>
<body>
   <div>
<!-- id="logout" 
style="margin-right:10px;margin-top:10px;width:5%;"--> 
	<div class = "inLine2 username" >
		<a href="/logout"><button  id="logout" class="username"  >Logout</button></a>
	</div>
	<br>
	
	<br>
	<!-- class="centred " -->
	<div  class = "inLine2" style="width:90%;">
		<nav class="nav">
			 
			<a class="text-nav" id="startpage" href="/startPage">START PAGE</a> 
			<a class="text-nav" id="myaccount" href="myAccountPage">MY ACCOUNT</a> 
			<a class="text-nav" id="newticket" href="/newTicketPage">NEW TICKET</a>
			<a class="text-nav" id="accounts" href="/accountsPage">ACCOUNTS</a>
			<a class="text-nav" id="contracts" href="/contractsPage">CONTRACTS</a>
			<a class="text-nav" id="invoice" href="/invoicePage">INVOICE</a>
			<a class="text-nav" id="registartionreq" href="/registationRequestPageList" >REQUESTS</a>

		</nav>
	</div>
</div>	
	<!-- style="margin-top:10px;margin-left:0px;" -->
	<div id="logedusernamediv" class="username">
		<h4 id="logedusername"></h4>
	</div>
	<br>
	<br>
	<div class="divpaddin">
		<h2>Employee Contracts</h2>
		<button id="createNewEmployeeContract" onclick="modalEmployeeContract()">Create New Employee Contract</button>
		<br> 
		<table id="employeeContractTable" class="table " class="row-border">
			<thead>
				<tr>
					<th>Id</th>
					<th>Status</th>
					<th>Salary</th>
					<th>Curency</th>
					<th>Start Date</th>
					<th>Expiration Date</th>
					<th></th>
					
				</tr>
			</thead>
		</table>
		
		<h2>Client Contracts</h2>
		<button id="createNewClientContract" onclick="modalClientContract()">Create New Client Contract</button>
		<br> 
		<table id="clientContractTable" class="table " class="row-border">
			<thead>
				<tr>
					<th>Id</th>
					<th>Status</th>
					<th>Amount</th>
					<th>Currency</th>
					<th>Start Date</th>
					<th>Expiration Date</th>
					<th></th>
				</tr>
			</thead>
		</table>


	</div>
<!-- ==========create new employee Contract modal ====================-->		
	<div class="modal fade modalTD" id="myModalEmployeeContract" role="dialog">
   	 <div class="modal-dialog modal-lg" style="width:40%">
   		 <!-- Modal content-->
    	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">New Employee Contract</h4>
	        </div>
	        <div class="modal-body">
	          <div >
	         	  <br>
		          <div class="modalcontent " >
		             <div id="d1" class="InLineDiv-StAdmPg ">
		    			<h4>Salary</h4>
		    			<input type="number" id="salary" class="input mandatory" name="salary"   autocomplete="off" />
		
		 				<h4>Status</h4>
		    			<select id="statusList" name="status"  class="mandatory"></select>
		    			<br>
		    			<br>
		    			<h4>Signature Date</h4>
		    			<input type="date" id="signdate" class="input mandatory" name="signdate" autocomplete="off" />
							
		    			<br>
					 </div>
					 <div id="d2" class="InLineDiv-StAdmPg ">
					 	
						<br>
		    			<h4>Start Date</h4>
		    			<input type="date" id="startdate" class="input mandatory" name="startdate" autocomplete="off" />
		    			<br>
		    			<br>
		    			<h4>Expiration Date</h4>
		    			<input type="date" id="expdate" class="input " name="expdate" autocomplete="off" style="border-bottom: 1px solid #31708f;"/>
		    
		     			
		    		</div>
		
		        </div>
		        
	      </div>
	      
	    </div>
	    
	    <div class="modal-footer">
		        
		          <button id="savebutton" type="button" class="btn btn-default" >Save</button>
		     
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
	  </div>
  </div>
 </div>
<!-- ===========create new client Contract modal============== -->	
	<div class="modal fade modalTD" id="myModalClientContract" role="dialog">
   	 <div class="modal-dialog modal-lg" style="width:40%">
   		 <!-- Modal content-->
    	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">New Client Contract</h4>
	        </div>
	        <div class="modal-body">
	          <div >
	         	  <br>
		          <div class="modalcontent " >
		             <div id="d1" class="InLineDiv-StAdmPg ">
		           
		             	<h4>Client</h4>
		             	<select id="clientsList" name="clients" class="mandatory"  ></select>
		             	<br>
		             	<br>
		             	<h4>Amount</h4>
		    			<input type="number" id="amount" class="input mandatory" name="amount"   autocomplete="off" />
		
		 				<h4>Status</h4>
		    			<select id="statusList1" name="status" class="mandatory" ></select>
		    			<br>
		    			<br>
					 </div>
					 <div id="d2" class="InLineDiv-StAdmPg ">
					 	<h4>Signature Date</h4>
		    			<input type="date" id="signdate1" class="input mandatory" name="signdate" autocomplete="off" />
						<br>	
						<br>
		    			<h4>Start Date</h4>
		    			<input type="date" id="startdate1" class="input mandatory" name="startdate" autocomplete="off" />
		    			<br>
		    			<br>
		    			<h4>Expiration Date</h4>
		    			<input type="date" id="expdate1" class="input" name="expdate" autocomplete="off" style="border-bottom: 1px solid #31708f;"/>
		    
		     			
		    		</div>
		
		        </div>
		        
	      </div>
	      
	    </div>
	    
	    <div class="modal-footer">
		        
		          <button id="savebutton" type="button" class="btn btn-default">Save</button>
		     
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
	  </div>
  </div>
 </div>	
 
 <!--========= EDIT employee Contract modal =============-->		
	<div class="modal fade modalTD" id="EditModalEmployeeContract" role="dialog" >
   	 <div class="modal-dialog modal-lg" style="width:40%">
   		 <!-- Modal content-->
    	<div class="modal-content" >
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Edit Employee Contract</h4>
	        </div>
	        <div class="modal-body">
	          <div >
	         	  <br>
		          <div class="modalcontent " >
		          <div class="inLine2" style="width:45%;margin-left:30px;">
		             <h4>Id</h4>
		             <p id="idE"></p>
		             
		             <h4>Status</h4>
		             <p id="statusE"></p>
		             <select id="StatusList" style="width:80%;border-bottom: 1px solid #31708f;" onchange="statusChange();"></select>
		             
		             <div id="SLRY" onchange="SalaryChange()">
		             	<h4>Salary</h4>
		             	<p id="salaryE"></p>
		             	<input style="width:80%;border-bottom: 1px solid #31708f;" type="number" id="salaryEdit" class="input " name="expdate"  autocomplete="off" />
		             </div>
		             
		             <h4>Curency</h4>
		             <p id="curencyE"></p>	
		           </div>     
		           <div class="inLine2" style="width:45%;">        
		             
			             <h4>Signature Date</h4>
			             <p id="signdateE"></p> 
			             <br>
			             <h4>Start Date</h4>
			             <p id="startdateE"></p>  
			             <br>
			             <div id="EXPD" onchange="expDateChange()">
			            	 <h4>Expiration Date</h4>
			             	 <p id="expdateE"></p>  
			             	 <input style="width:80%;border-bottom: 1px solid #31708f;" type="date" id="expDateEdit" class="input" name="expdate" autocomplete="off" /> 
			             </div>
		             
				    </div>
		          </div>
		       
	      </div>
	      
	    </div>
	    
	     <div class="modal-footer">
		        
		          <button id="savebutton" type="button" class="btn btn-default">Save</button>
		     
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
	  </div>
  </div>
 </div>
 
  <!--========= EDIT client Contract modal =============-->		
	<div class="modal fade modalTD" id="EditModalClientContract" role="dialog">
   	 <div class="modal-dialog modal-lg" style="width:40%">
   		 <!-- Modal content-->
    	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Edit Employee Contract</h4>
	        </div>
	        <div class="modal-body">
	          <div >
	         	  <br>
		          <div class="modalcontent " >
		           <div class="inLine2" style="width:45%;margin-left:30px;">
			             <h4>Id</h4>
			             <p id="idEC"></p>
			             
			             <h4>Status</h4>
			             <p id="statusEC"></p>
			             <select id="StatusListC" style="width:80%;border-bottom: 1px solid #31708f;" onchange="statusChange1();" ></select>
			             
			             <div id="SLRY1" onchange="SalaryChange1()">
			             	<h4>Amount</h4>
			             	<p id="amountEC"></p>
			             	<input style="width:80%;border-bottom: 1px solid #31708f;" type="number" id="amountEdit" class="input " name="expdate"  autocomplete="off"/>
			             </div>
		            </div>
		            <div class="inLine2" style="width:45%;"> 
			             <h4>Curency</h4>
			             <p id="curencyEC"></p>	             
			             
			             <h4>Signature Date</h4>
			             <p id="signdateEC"></p> 
			             
			             <h4>Start Date</h4>
			             <p id="startdateEC"></p>  
			             
			             <div id="EXPD1" onchange="expDateChange1()">
			            	 <h4>Expiration Date</h4>
			             	 <p id="expdateEC"></p>  
			             	 <input style="width:80%;border-bottom: 1px solid #31708f;" type="date" id="expDateEditC" class="input" name="expdate" autocomplete="off"/> 
			             </div>
		            </div> 
		
		          </div>
		        
	      </div>
	      
	    </div>
	    <div class="modal-footer">
		        
		          <button id="savebutton" type="button" class="btn btn-default">Save</button>
		     
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
	  </div>
  </div>
 </div>
</body>
</html>