<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>


<script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../js/jquery/bootstrap.js"></script>
<script type="text/javascript" src="../js/jquery/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>

<link rel="stylesheet" href="../style/stylesheet.css">
<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

<link rel="stylesheet" href="../style/bootstrap.css">
<link rel="stylesheet" href="../style/datatables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.min.css">


<script src="../js/newInvoice.js"></script>
</head>
<body>

	<div class="divpaddin">
		
		<br> 
		<div style="width:70%;" class="centred">
			 <div class="inLine1">
				<h4>Client</h4>
				<select id="clientlist"  class="mandatory"  style="width:40%;"  ></select>
			 </div>
			 
			 <div class="inLine1">
				<h4>Due Date</h4>
				<input id="duedate" type="date" class="input mandatory"  autocomplete=off style="width:40%;" />
	 		 </div>	
 		 
 		
 		 
		 <div class="paddingtop" >
			    <button id="addpos" onclick="addPos();">Add position</button>
			    <br>
				<table id="positionList" class="table " style="width:95%;" class="row-border " >
					<thead>
						<tr>
							<th>Service Name</th>
							<th>Price</th>
							<th>Currency</th>
							<th>Ticket</th>
							
						</tr>
					</thead>
				</table>
		</div>
		<br>
		<br>
		<br>
		<div class="centred " class="inLine1" style="width:30%;">
			<h4>TOTAL</h4>
			<p id="total"></p>
		</div>
		<div class="inLine1" style="width:30%;">
			 <button id="saveinvoice" onclick="saveInvoice();">Save</button>
		 </div>
		 <div class="inLine1" style="width:30%;">
			 <button id="cancelinvoice" onclick="cancel();">Cancel</button>
		 </div>
	</div>
		 
	</div>
	
<!-- //Add Pos pop-up -->
	<div class="modal fade modalTD" id="addPosModal" role="dialog">
    <div class="modal-dialog modal-sm">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Position</h4>
        </div>
        <div class="modal-body">
            <div >
	       		<h4>Service </h4>
	       		<select id="serviceList" class="mandatory" style="width:90%;"></select>
       		</div>
       		<br>
       		<br>
       		<br>
       		<div >	
				<h4>Ticket</h4>
				<select id="ticketlist" class="mandatory" style="width:90%;"></select>
			</div>	
			<br>
			<br>
			<br>
       		
        
       </div>
        <div class="modal-footer">
          <button type="button" id="save" class="btn btn-default"  onclick="savePos();">Save</button>
         <!--  <button type="button" id="close" class="btn btn-default" onclick="close();">Close</button>
          data-dismiss="modal" -->
        </div>
      </div>
      
    </div>
  
</div>
	</body>
</html>