<!DOCTYPE html>

<html>
<head>
    <title>Forgot Password Page</title>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../js/jquery/bootstrap.js"></script>
<script src="../js/forgotPass.js"></script>

<link rel="stylesheet" href="../style/stylesheet.css">
<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<script type="text/javascript" src="../js/jquery/bootstrap.min.js"></script>
<link rel="stylesheet" href="../style/bootstrap.css">
<link rel="stylesheet" href="../style/datatables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.min.css">

	
</head>
<body class="login">

<div class="centred">
      <nav class="nav" >
          <a class="text-nav" href="index.html">HOME</a> 
      </nav>
</div> 


<div class="container" style="width:40%">
	
    	<p>Username:</p>
    	<input type="text" id="username"   class="input" name="description" autocomplete="off" required name="username" >
    	

    	<p>ID Acount</p>
    	<input type="text" class="input" id="idacount" name="idacuont" autocomplete="off" required>
    	
    	<p>Email</p>
    	<input type="email" class="input" id="email" name="email" autocomplete="off" required>

    	<p>New Password</p>
    	<input type="password" class="input" id="password" name="password" autocomplete="off" required>

    	<p>Retype new passowrd </p>
    	<input type="password" class="input" id="passwordretype" name="password" autocomplete="off" required>

    	<button id="saveNewPass" onclick="save();">Save</button>

	
</div>

</body>

</html>