<!DOCTYPE html>

<html>
<head>
    <title>Forgot Password Page</title>
	<link rel="stylesheet" href="../style/stylesheet.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="login">

<div class="centred">
      <nav class="nav">
	      <a class="text-nav" href="index.html">HOME</a> 
	      <a class="text-nav" href="Login.html">LOGIN</a> 
	      <a class="text-nav" href="contact.html">CONTACT</a> 
	     
	  </nav>
</div> 

<!--<div  class="login-form">
	<h3>Username: <input type="text" name="username" value=""></h3><br>
    <h3>Password: <input type="text" name="password" value=""></h3><br>

    <a href="AdminStartPage.html"><button id="button-style" >Login</button></a>
</div>

<a href="Register.html"><button class="login-form" id="button-style">REGISTER as a member</button></a>-->
<div class="container">
	
    	<p>Username:</p>
    	<input type="text" class="input" id="username" name="username" >

    	<p>ID Acount</p>
    	<input type="text" class="input" id="idacount" name="idacuont" >

    	<p>New Password</p>
    	<input type="text" class="input" id="password" name="password" >

    	<p>Retype new passowrd </p>
    	<input type="text" class="input" id="password" name="password" >

    	<a href="ClientStartPage.html"><input type="submit" value="Login"></a>

	
</div>

</body>

</html>