<!DOCTYPE html>

<html>
<head>

<script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/notify/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="../js/notify/bootstrap-notify.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../js/jquery/bootstrap.js"></script>
<script src="../js/forgotPass.js"></script>

<link rel="stylesheet" href="../style/stylesheet.css">
<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<script type="text/javascript" src="../js/jquery/bootstrap.min.js"></script>
<link rel="stylesheet" href="../style/bootstrap.css">
<link rel="stylesheet" href="../style/datatables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.min.css">

	
</head>
<body class="login">

<div class="centred">
      <nav class="nav" >
          <a class="text-nav" href="index.html">HOME</a> 
      </nav>
</div> 


<div class="container" style="width:40%">
	
    	<p>Username:</p>
    	<input type="text" id="username"   class="input mandatory" name="description" autocomplete="off"  name="username" >
    	

    	<p>ID Acount</p>
    	<input type="text" class="input mandatory" id="idacount" name="idacuont" autocomplete="off" >
    	
    	<p>Email</p>
    	<input type="email" class="input mandatory" id="email" name="email" autocomplete="off" >

    	<p>New Password</p>
    	<input type="password" class="input mandatory" id="password" name="password" autocomplete="off" >

    	<p>Retype new password </p>
    	<input type="password" class="input mandatory" id="passwordretype" name="password" autocomplete="off" >

    	<button id="saveNewPass" onclick="save();">Save</button>

	
</div>

</body>

</html>