<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Invoices</title>

<!-- Ajax -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../js/jquery/bootstrap.js"></script>
<script src="../js/invoice.js"></script>

<link rel="stylesheet" href="../style/stylesheet.css">
<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<script type="text/javascript" src="../js/jquery/bootstrap.min.js"></script>
<link rel="stylesheet" href="../style/bootstrap.css">
<link rel="stylesheet" href="../style/datatables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.min.css">


<script src="../js/nav.js"></script>
</head>
<body>
	<div class="centred ">
		<nav class="nav">
			<a class="text-nav" id="startpage" href="/administratorStartPage">START PAGE</a> 
			<a class="text-nav" id="myaccount" href="/adminiAccountPage" >MY ACOUNT</a> 
			<a class="text-nav" id="newticket" href="/newTicketPage" >NEW TICKET</a>
			<a class="text-nav" id="accounts" href="/accountsPage" >ACCOUNTS</a>
			<a class="text-nav" id="contracts" href="/contractsPage" >CONTRACTS</a>
			<a class="text-nav" id="invoice" href="/invoicePage" >INVOICE</a>


		</nav>
	</div>
	
	
	<div >
	
	
		<div class="divpaddin">
<button id="addInv">Create New Invoice</button>
			<h2>Unpaid Invoices</h2>
			<br> 
			<table id="unpaidInvoiceTable" class="table " class="row-border">
				<thead>
					<tr>
					    
						<th>Id</th>
						<th>Creation Date</th>
						<th>Amount</th>
						<th>Currency</th>
						<th>Due Date</th>
						<th>Status</th>
						<th></th>
						
					</tr>
				</thead>
			</table>


		</div>

		<div class="divpaddin" >
			<h2>Paid invoices</h2>
				<br> 
			<table id="paidInvoiceTable" class="table " class="row-border">
				<thead>
					<tr>
						<th>Id</th>
						<th>Creation Date</th>
						<th>Amount</th>
						<th>Currency</th>
						<th>Due Date</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
			</table>

		</div>
		
	<div class="modal fade modalTD" id="invoiceModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ticket Details</h4>
        </div>
        <div class="modal-body">
        <div>
        	<div id="clientInfo" style="display: inline-block;vertical-align:top;width:40%;" >
	        	<b>Id Client : </b>
	        	<p id="idcl"></p>
	        	
	        	<b>Client name : </b>
	        	<p id="clname"></p>
	        	
	        	<b>Client email : </b>
	        	<p id="clemail"></p>
           </div>
           
           <div id="invoiceInfo" style="display: inline-block;vertical-align:top;width:50%;" >
	        	<b>Id Invoice : </b>
	        	<p id="idinv"></p>
	        	
	        	<b>Creation Date : </b>
	        	<p id="invcreationdate"></p>
	        	
	        	<b>Due Date : </b>
	        	<p id="invduedate"></p>
           </div>
			<br> 
			<br> 
			<br> 
			<br>
			<div>
			<table id="serviceList" class="table " style="width:95%;" class="row-border">
				<thead>
					<tr>
						<th>Service Name</th>
						<th>Price</th>
						<th>Currency</th>
						<th>Ticket</th>
						
					</tr>
				</thead>
			</table>
			</div> 
			<br>
			<br>
			<div  class="centred">
				<h4>TOTAL</h4>
				<p id="total"></p>
			</div>
			
		</div>
        
       </div>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  
</div>
</body>
</html>		