<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
	<script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
	
	<script type="text/javascript" src="../js/notify/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="../js/notify/bootstrap-notify.js"></script>
	
	<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>
	<link rel="stylesheet" href="../style/stylesheet.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="../js/login.js"></script>
	<script type="text/javascript" src="../js/nav.js"></script>
	<!-- <script src="../js/logedUser.js"></script> -->
	<link rel="stylesheet" href="../style/datatables.css">
	
	<script type="text/javascript" src="../js/jquery/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../js/jquery/bootstrap.js"></script>
<script type="text/javascript" src="../js/jquery/bootstrap.min.js"></script>



<link rel="stylesheet" href="../style/bootstrap.css">
<link rel="stylesheet" href="../style/datatables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.min.css">

</head>
<body class="login">

<div class="centred">
      <nav class="nav">
	      <a class="text-nav" href="index.html">HOME</a>  
	     
	  </nav>
</div> 



<div class="containerLogin">
	
    	<!-- <p>Username :</p>
    	<input  id="username" class="input" type="text" name="j_username" autocomplete="off" style="border-bottom: 1px solid #31708f;"/>
        <p>Password :</p>
        <input id="password" class="input"  type="password" name="j_password" autocomplete="off"   style="border-bottom: 1px solid #31708f;"/>
        
        <button id="loginButton" class = "CustomButton" type="button" onclick="Login()">Login</button> -->
        
        <form name='f' action="/login" method='POST'>
      <table>
         <tr>
            <td>User:</td>
            <td><input type='text' name='username' value='' style="border-bottom: 1px solid #31708f;" autofocus></td>
         </tr>
         <tr>
            <td>Password:</td>
            <td><input type='password' name='password' style="border-bottom: 1px solid #31708f;"/></td>
         </tr>
         <tr>
            <td><input name="Login" type="submit" class="centred" value="Login" /></td>
         </tr>
      </table>
  </form>
    
</div>


<div class="centred ">
	<button class="passwordbutton" onclick="redirectForgotPass();">Forgot Passowrd</button>
</div>	
<div class="centred ">
	<button class="passwordbutton" onclick="openValidationSecureCodeModal();">Register Account</button>
</div>
<div class="centred ">
	<button class="passwordbutton" onclick="redirectRegistrationRequest();">Registration Request</button>
</div>

<!-- //validate secure code -->
	<div class="modal fade modalTD" id="validateSecureCodeModal" role="dialog">
    <div class="modal-dialog modal-sm">
    
      Modal content
      <div class="modal-content">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Secure Code</h4>
        </div>
        <div class="modal-body">
            <div >
	       		<h4>Id Request </h4>
	       		<input type="number" id="idrequest" class="input mandatory"   autocomplete="off" />
	       		
       		</div>
       		<br>
       		<br>
       		<br>
       		<div >	
				<h4>Secure Code</h4>
				<input type="number" id="securecode" class="input mandatory"   autocomplete="off" />
				
			</div>	
			<br>
			<br>
			<br>
       		
        
       </div>
        <div class="modal-footer">
          <button type="button" id="save" class="btn btn-default"  onclick="validateSecureCode();">Validate</button>
          <button type="button" id="close" class="btn btn-default" onclick="close();">Close</button>
          
        </div>
      </div>
      
    </div>
  
</div>

</body>

</html>