<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <!-- Ajax -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../style/stylesheet.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="../js/login.js"></script>
</head>
<body class="login">

<div class="centred">
      <nav class="nav">
	      <a id="text-nav" href="index.html">HOME</a> 
	      <a id="text-nav" href="Login.html">LOGIN</a> 
	      <a id="text-nav" href="contact.html">CONTACT</a> 
	     
	  </nav>
</div> 

<!--<div  class="login-form">
	<h3>Username: <input type="text" name="username" value=""></h3><br>
    <h3>Password: <input type="text" name="password" value=""></h3><br>

    <a href="AdminStartPage.html"><button id="button-style" >Login</button></a>
</div>

<a href="Register.html"><button class="login-form" id="button-style">REGISTER as a member</button></a>-->

<div class="containerLogin">
	
    	<p>Username :</p>
    	<input  id="username" class="input" type="text" name="username" autocomplete="off" />
        <p>Password :</p>
        <input id="password" class="input"  type="password" name="password" autocomplete="off" />
        
        <button id="loginButton" class = "CustomButton" type="button" onclick="Login()">Login</button>
</div>
<div class="centred">
	<a id="text-nav" href="ForgotPasswordPage.html"><button class="passwordbutton">Forgot Passowrd</button></a>
</div>	
</body>

</html>