<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <!-- Ajax -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../style/stylesheet.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="../js/login.js"></script>
	<script type="text/javascript" src="../js/nav.js"></script>
	<link rel="stylesheet" href="../style/datatables.css">
</head>
<body class="login">

<div class="centred">
      <nav class="nav">
	      <a class="text-nav" href="index.html">HOME</a>  
	     
	  </nav>
</div> 



<div class="containerLogin">
	
    	<p>Username :</p>
    	<input  id="username" class="input" type="text" name="username" autocomplete="off" />
        <p>Password :</p>
        <input id="password" class="input"  type="password" name="password" autocomplete="off" />
        
        <button id="loginButton" class = "CustomButton" type="button" onclick="Login()">Login</button>
</div>
<div class="centred">
	<a id="text-nav" href="/forgotPasswordPage"><button class="passwordbutton">Forgot Passowrd</button></a>
</div>	
<div class="centred">
	<a id="text-nav" href="/registerAccount"><button class="passwordbutton">Register Account</button></a>
</div>
</body>

</html>