<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" href="../style/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../js/jquery/jquery.dataTables.js"></script>
	<script type="text/javascript" src="../js/jquery/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="../js/jquery/bootstrap.js"></script>
	<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>
	<script type="text/javascript" src="../js/jquery/bootstrap.min.js"> </script>
	
	<link rel="stylesheet" href="../style/bootstrap.css">
	<link rel="stylesheet" href="../style/datatables.css">
	<link rel="stylesheet" href="../style/jquery.dataTables.css">
	<link rel="stylesheet" href="../style/jquery.dataTables.min.css">
	
	<script src="../js/myAccount.js"></script>
	
	<script src="../js/nav.js"></script>
</head>
<body>
<div id="logedusernamediv" style="margin-top:10px;margin-left:10px;">
		<h4 id="logedusername"></h4>
	</div>
	<div style="margin-right:10px;margin-top:10px;">
		<button  class = "loginbtn" id="logout" onclick="Logout();">Logout</button>
	</div>
	<br>
	<br>
	<div class="centred ">
		<nav class="nav">
			<a class="text-nav" id="startpage" href="/startPage">START PAGE</a> 
			<a class="text-nav" id="myaccount" href="/myAccountPage" >MY ACCOUNT</a> 
			<a class="text-nav" id="newticket" href="/newTicketPage" >NEW TICKET</a>
			<a class="text-nav" id="accounts" href="/accountsPage" >ACCOUNTS</a>
			<a class="text-nav" id="contracts" href="/contractsPage" >CONTRACTS</a>
			<a class="text-nav" id="invoice" href="/invoicePage" >INVOICE</a>
			<a class="text-nav" id="registartionreq" href="/registationRequestPageList" >REQUESTS</a>


		</nav>
	</div>
	
	<div>
      	<div id="personalinfo" class="InLineDiv-StAdmPg " >
	      	<h2>Account Informations</h2>
	      	<br>
            <h4>First name </h4>
          	<p id="fname"></p>
          	<input id="fnameedit" class="input"  type="text" autocomplete="off" style="width:30%;"/>
          	
          	<h4>Last name </h4>
          	<p id="lname"></p>
          	<input id="lnameedit" class="input"  type="text" autocomplete="off" style="width:30%;"/>
          	
          	<h4>Address</h4>
          	<p id="address"></p>
          	<input id="counrty" class="input"  type="text" autocomplete="off" style="width:30%;"/>
          	<input id="county" class="input"  type="text" autocomplete="off" style="width:30%;"/>
          	<input id="town" class="input"  type="text" autocomplete="off" style="width:30%;"/>
          	<input id="street" class="input"  type="text" autocomplete="off" style="width:30%;"/>
          	<input id="streetno" class="input"  type="number" autocomplete="off" style="width:10%;"/>
          	<input id="buildno" class="input"  type="number" autocomplete="off" style="width:10%;"/>
          	<input id="appno" class="input"  type="number" autocomplete="off" style="width:10%;"/>
          	
          	<h4>Email</h4>
          	<p id="email"></p>
          	<input id="emailedit" class="input"  type="text" autocomplete="off" style="width:30%;"/>
         </div> 
         
         <div id="contractinfo" class="InLineDiv-StAdmPg " >
	      	<h2>Contract Informations</h2>
	      	<br>
            <h4>Contract ID </h4>
          	<p id="contractid"></p>
          	
          	<h4>Status </h4>
          	<p id="status"></p>
          	
          	<h4>Value</h4>
          	<p id="value"></p>          	
          	
          	<h4>Currency</h4>
          	<p id="currency"></p>
          	
          	<h4>Signature Date </h4>
          	<p id="signdate"></p>
          	
          	<h4>Start Date</h4>
          	<p id="startdate"></p>          	
          	
          	<h4>Expiration Date</h4>
          	<p id="expdate"></p>
         </div> 	
         	       
      
   </div>
   
</body>
</html>