<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" href="../style/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/jquery/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="../js/notify/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="../js/notify/bootstrap-notify.js"></script>
	<script type="text/javascript" src="../js/jquery/jquery.dataTables.js"></script>
	<script type="text/javascript" src="../js/jquery/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="../js/jquery/bootstrap.js"></script>
	<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>
	<script type="text/javascript" src="../js/jquery/bootstrap.min.js"> </script>
	
	<link rel="stylesheet" href="../style/bootstrap.css">
	<link rel="stylesheet" href="../style/datatables.css">
	<link rel="stylesheet" href="../style/jquery.dataTables.css">
	<link rel="stylesheet" href="../style/jquery.dataTables.min.css">
	
	<script src="../js/myAccount.js"></script>
	
	<script src="../js/nav.js"></script>
</head>
<body>
<div>
<!-- id="logout" 
style="margin-right:10px;margin-top:10px;width:5%;"--> 
	<div class = "inLine2 username" >
		<a href="/logout"><button id="logout"  class="username"  >Logout</button></a>
	</div>
	<br>
	
	<br>
	<!-- class="centred " -->
	<div  class = "inLine2" style="width:90%;">
		<nav class="nav">
			 
			<a class="text-nav" id="startpage" href="/startPage">START PAGE</a> 
			<a class="text-nav" id="myaccount" href="myAccountPage">MY ACCOUNT</a> 
			<a class="text-nav" id="newticket" href="/newTicketPage">NEW TICKET</a>
			<a class="text-nav" id="accounts" href="/accountsPage">ACCOUNTS</a>
			<a class="text-nav" id="contracts" href="/contractsPage">CONTRACTS</a>
			<a class="text-nav" id="invoice" href="/invoicePage">INVOICE</a>
			<a class="text-nav" id="registartionreq" href="/registationRequestPageList" >REQUESTS</a>

		</nav>
	</div>
</div>	
	<!-- style="margin-top:10px;margin-left:0px;" -->
	<div id="logedusernamediv" class="username">
		<h4 id="logedusername"></h4>
	</div>
	
	<div class="container" style="width:70%;">
		
      	<div id="personalinfo" class="inLine " >
	      	<h2 align="center">Account Informations</h2>
	      	<br>
	      	 <h4>&bull; <strong>Id Account </strong></h4>
          	<p id="idacc"></p>
          	
          	<div id="firstname" onchange="firstNameChange()">
	            <h4>&bull;<strong> First name </strong></h4>
	          	<p id="fname"></p>
	          	<input id="fnameedit" class="input"  type="text" autocomplete="off" style="width:50%;border-bottom: 1px solid #31708f;"/>
          	</div>
          	
          	<div id="lastname" onchange="lastNameChange()">
	          	<h4>&bull; <strong>Last name </strong></h4>
	          	<p id="lname"></p>
	          	<input id="lnameedit" class="input"  type="text" autocomplete="off" style="width:50%;border-bottom: 1px solid #31708f;"/>
          	</div>
          	
          	<div id="addressdiv" >
	          	<h4>&bull; <strong>Address</strong></h4>
	          	<p id="address"></p>
	          	
          	
	          	<div id="addressedit1" >
	          	<br>
		          	<div  class="inLine2">
		          		<p>Country</p><input id="counrty" class="input mandatory"  type="text" autocomplete="off" style="width:90%;" />
		          	</div>   
		          	       	
		          	<div  class="inLine2">
		          		<p>County</p><input id="county" class="input mandatory"  type="text" autocomplete="off" style="width:90%;"/>
		          	</div>          	
		          	
		          	<div  class="inLine2">
		          		<p>Town</p><input id="town" class="input mandatory"  type="text" autocomplete="off" style="width:90%;"/>
		          	</div>
	          	</div>
	          	<div id="addressedit2">
		          	<div class="inLine2">
		          		<p>Street</p><input id="street" class="input mandatory"  type="text" autocomplete="off" style="width:90%;"/>
		          	</div>
		          	
		          	<div class="inLine2" style="width:17%;">
		          		<p>Street No.</p><input id="streetno" class="input mandatory"  type="number" autocomplete="off" style="width:90%;"/>
		          	</div>
		          	
		          	<div class="inLine2" style="width:17%;">
		          		<p>Build No.</p><input id="buildno" class="input mandatory"  type="number" autocomplete="off" style="width:90%;"/>
		          	</div>
		          	
		          	<div class="inLine2" style="width:17%;">
		          		<p>Ap. No.</p><input id="appno" class="input mandatory"  type="number" autocomplete="off" style="width:90%;"/>
		          	</div>
		          	<button id="updateaddress" onclick="addressChange()">Update</button>
	          	</div>
          	</div>
          	
          	<div id="email1" onchange="emailChange()">
	          	<h4>&bull; <strong>Email</strong></h4>
	          	<p id="email"></p>
	          	<input id="emailedit" class="input"  type="email" autocomplete="off" style="width:50%;border-bottom: 1px solid #31708f;"/>
          	</div>
          	<br>
          	<br>
          	<button id="editaccinfo" onclick="edit();">Edit Accounting Information</button>
          	<button id="save" onclick="save();">Save</button>
          	<br>
          	<button id="changepass" onclick="">Change Your Password</button>
          	<br>
          	<br>
          	
          	<div id="changepassdiv">
          		<h4>Old Password </h4>	          	
	          	<input id="oldpass" class="input mandatory"  type="password" autocomplete="off" style="width:50%;"/>
	          	
	          	<h4>New Password </h4>	          	
	          	<input id="newpass" class="input mandatory"  type="password" autocomplete="off" style="width:50%;"/>
	          	
	          	<h4>Retype New Password </h4>
	          	<input id="retypenewpass" class="input mandatory"  type="password" autocomplete="off" style="width:50%;"/>
	          	<br>
	          	<button id="updatepasss" >Update</button>
	          	<br>
	          	<br>
          	</div>
         </div> 
         
         <div id="contractinfo" class="inLine " >
	      	<h2>Contract Informations</h2>
	      	<br>
            <h4><strong>&bull; Contract ID</strong> </h4>
          	<p id="contractid"></p>
          	
          	<h4><strong>&bull; Status</strong> </h4>
          	<p  id="status"></p>
          	
          	<h4 ><strong>&bull; Value</strong></h4>
          	<p   id="value"></p>          	
          	
          	<h4><strong>&bull; Currency</strong></h4>
          	<p id="currency"></p>
          	
          	<h4><strong>&bull; Signature Date</strong> </h4>
          	<p id="signdate"></p>
          	
          	<h4><strong>&bull; Start Date</strong></h4>
          	<p id="startdate"></p>          	
          	
          	<h4><strong>&bull; Expiration Date</strong></h4>
          	<p id="expdate"></p>
         </div> 	
         <div id="additional">
	         <br>
	         <br>
	         <h4 style="padding-left:55px;color:red;">Your contract details will be available soon.</h4>
         </div>
         	       
      
   </div>
   
</body>
</html>