<!DOCTYPE html>
<html>
<head>
	<title>Admin Acount Page</title>
	<link rel="stylesheet" href="../style/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="centred">
      <nav class="nav">
          <a class="text-nav" href="index.html">HOME</a> 
          <a class="text-nav" href="/administratorStartPage">START PAGE</a> 
          <a class="text-nav" href="/adminiAccountPage">MY ACOUNT</a> 
        
          
      </nav>    
</div> 
</body>
</html>>