<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/notify/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="../js/notify/bootstrap-notify.js"></script>
    <link rel="stylesheet" href="../style/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/clientRegistration.js"></script>
    <link rel="stylesheet" href="../style/datatables.css">
</head>
<body>
<div class="centred">
      <nav class="nav" >
          <a class="text-nav" href="index.html">HOME</a> 
      </nav>
</div> 


<div id="saveClientDiv" class="container" style="width:60%;">
  <div class="inLine1" >
 
    <p>First Name</p>
    <input type="text" id="fname" class="input mandatory" name="firstname"   autocomplete="off"  style="width:40%;"/>

    <p>Last Name</p>
    <input type="text" id="lname" class="input mandatory"  name="lastname"   autocomplete="off"  style="width:40%;"/>

    <p>Username</p>
    <input type="text" id="Uname" class="input mandatory" name="username"   autocomplete="off"  style="width:40%;"/>

    <p>Password</p>
    <input type="text" id="Pass" class="input mandatory" name="passwoed"   autocomplete="off"  style="width:40%;"/>
    
     <p>Email</p>
    <input type="email" id="email" class="input mandatory" name="email"  autocomplete="off"  style="width:40%;"/>


    <p>Country</p>
    <input type="text" id="country" class="input mandatory" name="country"   autocomplete="off"  style="width:40%;"/>
   
   
  </div>
  <div class="inLine1" >
     <p>County</p>
     <input type="text" id="county" class="input mandatory" name="county"   autocomplete="off"  style="width:40%;"/>
     
     <p>Town</p>
     <input type="text" id="town" class="input mandatory" name="town"   autocomplete="off"  style="width:40%;"/>
     
     <p>Street</p>
     <input type="text" id="street" class="input mandatory" name="street"  autocomplete="off"  style="width:40%;"/>
     
     <p>Street Number</p>
     <input type="number" id="streetno" class="input mandatory" name="streetno"   autocomplete="off"  style="width:40%;"/>
     
     <p>Build</p>
     <input type="text" id="build" class="input mandatory" name="build"   autocomplete="off"  style="width:40%;"/>
     
     <p>Apartment Number</p>
     <input type="number" id="appno" class="input mandatory" name="appno"   autocomplete="off"  style="width:40%;"/>
    

 </div>
    <button id="saveClientButton" class = "CustomButton" type="button" onclick="Save()">Save</button>
</div>

</body>
</html>