<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
   <script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../style/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/registrationRequest.js"></script>
    <link rel="stylesheet" href="../style/datatables.css">
</head>
<body>
<div class="centred">
      <nav class="nav" >
          <a class="text-nav" href="index.html">HOME</a> 
      </nav>
</div> 


<div id="saveClientDiv" class="container" style="width:30%;">
  <div >
 
    <p> Name</p>
    <input type="text" id="name" class="input mandatory" name="firstname" placeholder="Your name.."  autocomplete="off"  />

    <p>Email</p>
    <input type="email" id="email" class="input mandatory" name="lastname" placeholder="Your last name.."  autocomplete="off" required  />

    <p>Phone</p>
    <input type="text" id="phone" class="input mandatory" name="username" placeholder="Your Username.."  autocomplete="off" required  />
 </div>
   <button id="registerrequest" onclick="sent();">Sent</button>
 </div> 
</body>
</html>