<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Employee Page</title>

<script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/notify/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="../js/notify/bootstrap-notify.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.js"></script>
<script type="text/javascript" src="../js/jquery/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../js/jquery/bootstrap.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/registrationRequestsPage.js"></script>

<link rel="stylesheet" href="../style/stylesheet.css">
<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<script type="text/javascript" src="../js/jquery/bootstrap.min.js"></script>
<link rel="stylesheet" href="../style/bootstrap.css">
<link rel="stylesheet" href="../style/datatables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.css">
<link rel="stylesheet" href="../style/jquery.dataTables.min.css">
 
 

</head>
<div>
<!-- id="logout" 
style="margin-right:10px;margin-top:10px;width:5%;"--> 
	<div class = "inLine2 username" >
		<a href="/logout"><button   class="username"  >Logout</button></a>
	</div>
	<br>
	
	<br>
	<!-- class="centred " -->
	<div  class = "inLine2" style="width:90%;">
		<nav class="nav">
			 
			<a class="text-nav" id="startpage" href="/startPage">START PAGE</a> 
			<a class="text-nav" id="myaccount" href="myAccountPage">MY ACCOUNT</a> 
			<a class="text-nav" id="newticket" href="/newTicketPage">NEW TICKET</a>
			<a class="text-nav" id="accounts" href="/accountsPage">ACCOUNTS</a>
			<a class="text-nav" id="contracts" href="/contractsPage">CONTRACTS</a>
			<a class="text-nav" id="invoice" href="/invoicePage">INVOICE</a>
			<a class="text-nav" id="registartionreq" href="/registationRequestPageList" >REQUESTS</a>

		</nav>
	</div>
</div>	
	<!-- style="margin-top:10px;margin-left:0px;" -->
	<div id="logedusernamediv" class="username">
		<h4 id="logedusername"></h4>
	</div>
	<br>
	<br>
	<div class="divpaddin">
		<h2>Waiting To Be Processed</h2>
		<button id="createNewEmployee" onclick="CreateNewEmployeeModal()">Create new Employee</button>
		<br> 
		<table id="WTBP" class="table " class="row-border">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th></th>
				</tr>
			</thead>
		</table>
		<br>
		<br>
		<br>
		<br>
		
		<h2>Already Processed</h2>
		<br> 
		<br> 
		<table id="AP" class="table " class="row-border">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					
				</tr>
			</thead>
		</table>


	</div>

</body>
</html>