<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
 	<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>
	<link rel="stylesheet" href="../style/stylesheet.css">
   
    
    <script src="../js/scriptRegisterProject.js"></script>
    <script src="../js/nav.js"></script>
   
    

    <link rel="stylesheet" href="../style/datatables.css">

    
</head>
<body>
<div id="logedusernamediv" style="margin-top:10px;margin-left:10px;">
		<h4 id="logedusername"></h4>
	</div>
    <div style="margin-right:10px;margin-top:10px;">
		<a href="/indexPage"><button  class = "loginbtn" id="logout">Logout</button></a>
	</div>
	<br>
	<br>
	<div class="centred">
      <nav class="nav">
          	
			<a class="text-nav" id="startpage" href="/startPage">START PAGE</a> 
			<a class="text-nav" id="myaccount" href="/myAccountPage">MY ACCOUNT</a> 
			<a class="text-nav" id="newticket" href="/newTicketPage">NEW TICKET</a>
			<a class="text-nav" id="accounts" href="/accountsPage">ACCOUNTS</a>
			<a class="text-nav" id="contracts" href="/contractsPage">CONTRACTS</a>
			<a class="text-nav" id="invoice" href="/invoicePage">INVOICE</a>
			<a class="text-nav" id="registartionreq" href="/registationRequestPageList" >REQUESTS</a>
          
          
      </nav>    
	</div> 

<div class="container" style="width:40%;">  
	<div>
	
    	<h4>Project Type</h4>
    	<select id="projecttypelist" name="projecttype" style="width:30%;"></select>
    	
        <h4>Description</h4>
        <input id="desc" class="input"  type="text" name="description" autocomplete="off" required style="height:400px;width:80%;"/>
        
        <div id="assignpersson">
	        <h4>Assigne Persson</h4>
	        <select id="assignep" name="assignpersson" style="width:30%;"></select>
        </div>
        
        <h4>Due Date </h4>
        <input id = "duedate" class="input"  type="date" name="duedate" autocomplete="off" required style="width:30%;"/>
        <br>
        <br>
        <br>
             
        <button id="createNewTicket" onclick="saveTicket()" >Add Ticket</button>     
    </div>
 
</div>
</body>
</html>