<!DOCTYPE html>
<html>
<head>
	<title>Register Project</title>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../style/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../js/scriptRegisterProject.js"></script>
</head>
<body>
	<div class="centred">
      <nav class="nav">
          	<a id="text-nav" href="/administratorStartPage">HOME</a> 
			<a id="text-nav" href="/administratorStartPage">START PAGE</a> 
			<a id="text-nav" href="/adminiAccountPage">MY ACOUNT</a> 
			<a id="text-nav" href="/newTicketPage">NEW TICKET</a>
			<a id="text-nav" href="/accountsPage">ACCOUNTS</a>
			<a id="text-nav" href="/contractsPage">CONTRACTS</a>
			<a id="text-nav" href="">INVOICE</a>
          
          
      </nav>    
	</div> 

<div class="container">  
	<form  name="addTicket" action="/addTicket" >
	
    	<p>Project Type</p>
    	<p> <select id="projecttypelist" name="projecttype"></select></p>
    	
        <p>Description <input class="input"  type="text" name="description" autocomplete="off" required/></p>
        
        <p>Assigne Persson</p>
        <p> <select id="assigne" name="assignpersson"></select></p>
        
        <div>
        	<p>Due Date <input class="input"  type="date" name="duedate" autocomplete="off" required /></p>
             
        </div>      
        
        <p><input type="submit" value="Add Ticket" /></p>
    </form>
 
</div>
</body>
</html>