<!DOCTYPE html>
<html>
<head>
	<title>Register Project</title>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../style/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="../js/scriptRegisterProject.js"></script>
</head>
<body>
	<div class="centred">
      <nav class="nav">
          	<a id="text-nav" href="/administratorStartPage">HOME</a> 
			<a id="text-nav" href="/administratorStartPage">START PAGE</a> 
			<a id="text-nav" href="/adminiAccountPage">MY ACOUNT</a> 
			<a id="text-nav" href="/newTicketPage">NEW TICKET</a>
			<a id="text-nav" href="/accountsPage">ACCOUNTS</a>
			<a id="text-nav" href="/contractsPage">CONTRACTS</a>
			<a id="text-nav" href="">INVOICE</a>
          
          
      </nav>    
	</div> 

<div class="container">  
	<div>
	
    	<h4>Project Type</h4>
    	<select id="projecttypelist" name="projecttype"></select>
    	
        <h4>Description</h4>
        <input id="desc" class="input"  type="text" name="description" autocomplete="off" required/>
        
        <h4>Assigne Persson</h4>
        <select id="assignep" name="assignpersson"></select>
        
        <h4>Due Date </h4>
        <input id = "duedate" class="input"  type="date" name="duedate" autocomplete="off" required />
        <br>
        <br>
        <br>
             
        <button id="createNewTicket" onclick="saveTicket()" >Add Ticket</button>     
    </div>
 
</div>
</body>
</html>