<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../style/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/clientRegistration.js"></script>
</head>
<body>
<div class="centred">
      <nav class="nav" >
          <a id="text-nav" href="index.html">HOME</a> 
          <a id="text-nav" href="Login.html">LOGIN</a> 
          <a id="text-nav" href="contact.html">CONTACT</a>
      </nav>
</div> 
<h3>Register Form</h3>

<div id="saveClientDiv" class="container">
  <div class="inLine">
    <p>First Name</p>
    <input type="text" id="fname" class="input" name="firstname" placeholder="Your name.."  autocomplete="off" required/>

    <p>Last Name</p>
    <input type="text" id="lname" class="input" name="lastname" placeholder="Your last name.."  autocomplete="off" required/>

    <p>Username</p>
    <input type="text" id="Uname" class="input" name="username" placeholder="Your Username.."  autocomplete="off" required/>

    <p>Password</p>
    <input type="text" id="Pass" class="input" name="passwoed" placeholder="Your Password.."  autocomplete="off" required/>
    
     <p>Email</p>
    <input type="email" id="email" class="input" name="email" placeholder="Your Email.."  autocomplete="off" required/>


    <p>Country</p>
    <select id="country" name="country" required>
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
        <option value="romania">Romania</option>
        <option value="ungaria">Ungaria</option>
    </select>
  </div>
  <div class="inLine">
     <p>County</p>
     <input type="text" id="county" class="input" name="county" placeholder="Your County.."  autocomplete="off" required/>
     
     <p>Town</p>
     <input type="text" id="town" class="input" name="town" placeholder="Your Town.."  autocomplete="off" required/>
     
     <p>Street</p>
     <input type="text" id="street" class="input" name="street" placeholder="Your Street.."  autocomplete="off" required/>
     
     <p>Street Number</p>
     <input type="number" id="streetno" class="input" name="streetno" placeholder="Your Street Number.."  autocomplete="off" required/>
     
     <p>Build</p>
     <input type="text" id="build" class="input" name="build" placeholder="Your Build.."  autocomplete="off" required/>
     
     <p>Appartment Number</p>
     <input type="number" id="appno" class="input" name="appno" placeholder="Your Appartment Number.."  autocomplete="off" required/>
    

 </div>
    <button id="saveClientButton" class = "CustomButton" type="button" onclick="Save()">Save</button>
</div>

</body>
</html>