<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="../js/jquery/jquery-3.2.1.min.js"></script>
 	<script type="text/javascript" src="../js/jquery/jquery.cookie.js"></script>
	<link rel="stylesheet" href="../style/stylesheet.css">

   

    
</head>
<body>
<div class="centred">
<h3>We're sorry , but you are unauthorized to access this page !</h3>
<h3>Please login first .</h3>
<br>
<a href="/loginPage"><button >LogIn</button></a>
</div>
</body>
</html>